.UseProtocol-box {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    line-height: 24px;
    text-align: justify;
    text-justify: inter-ideograph;
    padding: 20px 0 40px 0;
}
.UseProtocol-box h5 {
    color: #FF6B3D;
    font-weight: bold;
    line-height: 30px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}