.header .header-nav .row li:nth-child(2) a:link span{
    cursor: pointer;
    border-bottom:3px solid rgb(245,82,46);
}
.header .header-nav .row li:nth-child(2) a:visited span{
    cursor: pointer;
    border-bottom:3px solid rgb(245,82,46);
}