*{
    margin: 0;
    padding: 0;
}

.login {
    position: absolute;
    right: 0;
    top: 120px;
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.01);
    overflow: hidden;
}

.login-main {
    background: url(../img/class-new-banner.png) no-repeat top center;
    width: 100%;
    height: 800px;
}

.login-box {
    width: 1198px;
    margin: 0 auto;
    position: relative;
}

.login h1 {
    height: 60px;
    background: #FF6B3D;
    font-size: 22px;
    line-height: 60px;
    padding: 0 24px;
    font-weight: normal;
    color: #fff;
    display: flex;
    margin-bottom: 40px;
}


.login ul {
    display: flex;
    padding: 12px 0;
    list-style: none outside none;
}

.login li:first-child {
    margin-right: 10px;
    text-align: right;
    width: 95px;
    font-size: 16px;
    color: #333;
    line-height: 35px;
}

.login li:last-child {
    display: flex;
    flex: 1;
    padding-right: 50px;
}

.new_btn {
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #FF6B3D;
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 6px;
    margin: 20px 0 0 51px;
    float: left;
}