.m-panel {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);

    .panel-main {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #fff;
        padding: 20px 50px;
        width: 70%;
        overflow: auto;
    }
    .el-page-header {
        margin-bottom: 20px;
    }
}