<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demai.cornel.dao.CommentInfoDao">
    <resultMap type="com.demai.cornel.model.CommentInfo" id="commentInfoResultMap">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="teleplay_id" property="teleplayId" />
        <result column="video_id" property="videoId" />
        <result column="parent_path" property="parentPath" />
        <result column="level" property="level" />
        <result column="top" property="top" />
        <result column="reply_num" property="replyNum" />
        <result column="like_num" property="likeNum" />
        <result column="bullet_chat" property="bulletChat" />
        <result column="weight" property="weight" />
        <result column="status" property="status" />
        <result column="system_status" property="systemStatus" />
        <result column="operator_status" property="operatorStatus" />
        <result column="operator" property="operator" />
        <result column="operator_name" property="operatorName" />
        <result column="ext_info" property="extInfo" />
        <result column="operate_time" property="operateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <sql id="main_column">
        id,
        content,
        user_id,
        teleplay_id,
        video_id,
        parent_path,
        level,
        top,
        reply_num,
        like_num,
        bullet_chat,
        weight,
        status,
        system_status,
        operator_status,
        operator,
        operator_name,
        ext_info,
        operate_time,
        create_time
    </sql>

    <sql id="main_column_list">
        c.id,
        c.content,
        c.user_id,
        c.teleplay_id,
        c.video_id,
        c.parent_path,
        c.level,
        c.top,
        c.reply_num,
        c.like_num,
        c.bullet_chat,
        c.weight,
        c.status,
        c.system_status,
        c.operator_status,
        c.operator,
        c.operator_name,
        c.ext_info,
        c.operate_time,
        c.create_time
    </sql>

    <update id="update" parameterType="com.demai.cornel.model.CommentInfo">
        update comment_info
        <trim prefix="set" suffixOverrides=",">
            <if test="content != null"> content = #{content},</if>
            <if test="userId != null"> user_id = #{userId},</if>
            <if test="teleplayId != null"> teleplay_id = #{teleplayId},</if>
            <if test="videoId != null"> video_id = #{videoId},</if>
            <if test="parentPath != null"> parent_path = #{parentPath},</if>
            <if test="level != null"> level = #{level},</if>
            <if test="top != null"> top = #{top},</if>
            <if test="replyNum != null"> reply_num = #{replyNum},</if>
            <if test="likeNum!= null"> like_num = #{likeNum},</if>
            <if test="bulletChat != null"> bullet_chat = #{bulletChat},</if>
            <if test="weight != null"> weight = #{weight},</if>
            <if test="status != null"> status = #{status},</if>
            <if test="systemStatus != null"> system_status = #{systemStatus},</if>
            <if test="operatorStatus != null"> operator_status = #{operatorStatus},</if>
            <if test="operator != null"> operator = #{operator},</if>
            <if test="operatorName != null"> operator_name = #{operatorName},</if>
            <if test="extInfo != null"> ext_info = #{extInfo},</if>
            <if test="operateTime != null"> operate_time = #{operateTime},</if>
            <if test="createTime != null"> create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <insert id="save" parameterType="com.demai.cornel.model.CommentInfo" useGeneratedKeys="true" keyProperty="id" >
        insert into comment_info(
        <trim suffixOverrides=",">
            <if test="content != null"> content ,</if>
            <if test="userId != null"> user_id ,</if>
            <if test="teleplayId != null"> teleplay_id ,</if>
            <if test="videoId != null"> video_id ,</if>
            <if test="parentPath != null"> parent_path ,</if>
            <if test="level != null"> level ,</if>
            <if test="top != null"> top ,</if>
            <if test="replyNum != null"> reply_num ,</if>
            <if test="likeNum!= null"> like_num ,</if>
            <if test="bulletChat != null"> bullet_chat ,</if>
            <if test="weight != null"> weight ,</if>
            <if test="status != null"> status ,</if>
            <if test="systemStatus != null"> system_status ,</if>
            <if test="operatorStatus != null"> operator_status ,</if>
            <if test="operator != null"> operator ,</if>
            <if test="operatorName != null"> operator_name ,</if>
            <if test="extInfo != null"> ext_info ,</if>
            <if test="operateTime != null"> operate_time ,</if>
            <if test="createTime != null"> create_time ,</if>
        </trim>
        )values(
        <trim suffixOverrides=",">
            <if test="content != null"> #{content} ,</if>
            <if test="userId != null"> #{userId} ,</if>
            <if test="teleplayId != null"> #{teleplayId} ,</if>
            <if test="videoId != null"> #{videoId} ,</if>
            <if test="parentPath != null"> #{parentPath} ,</if>
            <if test="level != null"> #{level} ,</if>
            <if test="top != null"> #{top} ,</if>
            <if test="replyNum != null"> #{replyNum} ,</if>
            <if test="likeNum!= null"> #{likeNum} ,</if>
            <if test="bulletChat != null"> #{bulletChat} ,</if>
            <if test="weight != null"> #{weight} ,</if>
            <if test="status != null"> #{status} ,</if>
            <if test="systemStatus != null"> #{systemStatus} ,</if>
            <if test="operatorStatus != null"> #{operatorStatus} ,</if>
            <if test="operator != null"> #{operator} ,</if>
            <if test="operatorName != null"> #{operatorName} ,</if>
            <if test="extInfo != null"> #{extInfo} ,</if>
            <if test="operateTime != null"> #{operateTime} ,</if>
            <if test="createTime != null"> #{createTime} ,</if>
        </trim>
        )
    </insert>

    <select id="getCommentInfoList" parameterType="com.demai.cornel.reqParam.QueryCommentInfoParam"
            resultMap="commentInfoResultMap">
        select
        <include refid="main_column_list"/>
        from comment_info c,user_info u,teleplay t,teleplay_video tv
        <where>
            c.user_id=u.id
            and c.teleplay_id=t.id
            and c.video_id=tv.id
            and u.status=1
            and t.status=1
            and tv.status=1
            <if test="status !=null">
                and c.status = #{status}
            </if>
            <if test="nickName !=null">
                and c.user_id in
                (select id from user_info where nick_name ~#{nickName} and status=1)
            </if>

            <if test="name !=null">
                and c.teleplay_id in
                (select id from teleplay
                where title ~#{name} and
                      status=1)
            </if>
            
        </where>
        order by t.operate_time desc offset #{offSet,jdbcType=INTEGER} limit #{pageSize,jdbcType=INTEGER}
    </select>

    <select id="getCommentInfoAllNum" parameterType="com.demai.cornel.reqParam.QueryCommentInfoParam"
        resultType="int">
        select
         count(1)
        from comment_info c,user_info u,teleplay t,teleplay_video tv
        <where>
            c.user_id=u.id
            and c.teleplay_id=t.id
            and c.video_id=tv.id
            and u.status=1
            and t.status=1
            and tv.status=1
            <if test="status !=null">
                and c.status = #{status}
            </if>
            <if test="nickName !=null">
                and user_id in
                (select id from user_info where nick_name ~#{nickName} and status=1)
            </if>

            <if test="name !=null">
                and teleplay_id in
                (select id from teleplay
                where title ~#{name} and
                status=1)
            </if>

        </where>
    </select>

</mapper>