<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demai.cornel.dao.RankInfoDao">
    <resultMap type="com.demai.cornel.model.RankInfo" id="rankInfoResultMap">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="weight" property="weight" />
        <result column="teleplay_id" property="teleplayId" typeHandler="com.demai.cornel.databaseHandler.ArrayStringListTypeHandler" />
        <result column="status" property="status" />
        <result column="operator" property="operator" />
        <result column="operator_name" property="operatorName" />
        <result column="ext_info" property="extInfo" />
        <result column="operate_time" property="operateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <sql id="main_column">
        id,
        name,
        weight,
        teleplay_id,
        status,
        operator,
        operator_name,
        ext_info,
        operate_time,
        create_time
    </sql>

    <update id="update" parameterType="com.demai.cornel.model.RankInfo">
        update rank_info
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null"> name = #{name},</if>
            <if test="weight != null"> weight = #{weight},</if>
            <if test="teleplayId != null"> teleplay_id = #{teleplayId,jdbcType=ARRAY,javaType=java.util.List,typeHandler=com.demai.cornel.databaseHandler.ArrayStringListTypeHandler},</if>
            <if test="status != null"> status = #{status},</if>
            <if test="operator != null"> operator = #{operator},</if>
            <if test="operatorName != null"> operator_name = #{operatorName},</if>
            <if test="extInfo != null"> ext_info = #{extInfo},</if>
            <if test="operateTime != null"> operate_time = #{operateTime},</if>
            <if test="createTime != null"> create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <insert id="save" parameterType="com.demai.cornel.model.RankInfo" useGeneratedKeys="true" keyProperty="id" >
        insert into rank_info(
        <trim suffixOverrides=",">
            <if test="name != null"> name ,</if>
            <if test="weight != null"> weight ,</if>
            <if test="teleplayId != null"> teleplay_id ,</if>
            <if test="status != null"> status ,</if>
            <if test="operator != null"> operator ,</if>
            <if test="operatorName != null"> operator_name ,</if>
            <if test="extInfo != null"> ext_info ,</if>
            <if test="operateTime != null"> operate_time ,</if>
            <if test="createTime != null"> create_time ,</if>
        </trim>
        )values(
        <trim suffixOverrides=",">
            <if test="name != null"> #{name} ,</if>
            <if test="weight != null"> #{weight} ,</if>
            <if test="teleplayId != null"> #{teleplayId,jdbcType=ARRAY,javaType=java.util.List,typeHandler=com.demai.cornel.databaseHandler.ArrayStringListTypeHandler} ,</if>
            <if test="status != null"> #{status} ,</if>
            <if test="operator != null"> #{operator} ,</if>
            <if test="operatorName != null"> #{operatorName} ,</if>
            <if test="extInfo != null"> #{extInfo} ,</if>
            <if test="operateTime != null"> #{operateTime} ,</if>
            <if test="createTime != null"> #{createTime} ,</if>
        </trim>
        )
    </insert>
    
</mapper>