<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demai.cornel.dao.RankInfoDao">
    <resultMap type="com.demai.cornel.model.RankInfo" id="rankInfoResultMap">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="weight" property="weight" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="operator" property="operator" />
        <result column="operator_name" property="operatorName" />
        <result column="ext_info" property="extInfo" />
        <result column="operate_time" property="operateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <resultMap type="com.demai.cornel.model.RankInfoExt" id="rankInfoExtResultMap">
        <id column="id" property="id" />
        <result column="weight" property="weight" />
        <result column="teleplay_id" property="teleplayId" />
        <result column="rank_info" property="rankInfo" />
        <result column="status" property="status" />
        <result column="operator" property="operator" />
        <result column="operator_name" property="operatorName" />
        <result column="ext_info" property="extInfo" />
        <result column="operate_time" property="operateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <sql id="main_column">
        id,
        name,
        weight,
        type,
        status,
        operator,
        operator_name,
        ext_info,
        operate_time,
        create_time
    </sql>

    <sql id="main_rankInfoExt_column">
        id,
        weight,
        teleplay_id,
        rank_info_id,
        status,
        operator,
        operator_name,
        ext_info,
        operate_time,
        create_time
    </sql>

    <update id="update" parameterType="com.demai.cornel.model.RankInfo">
        update rank_info
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null"> name = #{name},</if>
            <if test="weight != null"> weight = #{weight},</if>
            <if test="type != null"> type = #{type},</if>
            <if test="status != null"> status = #{status},</if>
            <if test="operator != null"> operator = #{operator},</if>
            <if test="operatorName != null"> operator_name = #{operatorName},</if>
            <if test="extInfo != null"> ext_info = #{extInfo},</if>
            <if test="operateTime != null"> operate_time = #{operateTime},</if>
            <if test="createTime != null"> create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <insert id="save" parameterType="com.demai.cornel.model.RankInfo" useGeneratedKeys="true" keyProperty="id" >
        insert into rank_info(
        <trim suffixOverrides=",">
            <if test="name != null"> name ,</if>
            <if test="weight != null"> weight ,</if>
            <if test="type != null"> type ,</if>
            <if test="status != null"> status ,</if>
            <if test="operator != null"> operator ,</if>
            <if test="operatorName != null"> operator_name ,</if>
            <if test="extInfo != null"> ext_info ,</if>
            <if test="operateTime != null"> operate_time ,</if>
            <if test="createTime != null"> create_time ,</if>
        </trim>
        )values(
        <trim suffixOverrides=",">
            <if test="name != null"> #{name} ,</if>
            <if test="weight != null"> #{weight} ,</if>
            <if test="type != null"> #{type} ,</if>
            <if test="status != null"> #{status} ,</if>
            <if test="operator != null"> #{operator} ,</if>
            <if test="operatorName != null"> #{operatorName} ,</if>
            <if test="extInfo != null"> #{extInfo} ,</if>
            <if test="operateTime != null"> #{operateTime} ,</if>
            <if test="createTime != null"> #{createTime} ,</if>
        </trim>
        )
    </insert>

    <select id="getRankInfoList" parameterType="com.demai.cornel.reqParam.QueryRankInfoParam"
            resultMap="rankInfoResultMap">
        select
        <include refid="main_column"/>
        from rank_info
        where status!=4
        <if test="status !=null">
            and status=#{status}
        </if>
        <if test="name !=null">
            and name ~ #{name}
        </if>
        order by type asc, weight desc
    </select>

    <select id="getRankInfoAllNum" parameterType="com.demai.cornel.reqParam.QueryRankInfoParam"
    resultType="int">
        select
        count(1)
        from rank_info
        where status!=4
        <if test="status !=null">
            and status=#{status}
        </if>
        <if test="name !=null">
            and name ~ #{name}
        </if>
    </select>


    <update id="updateRankInfoExt" parameterType="com.demai.cornel.model.RankInfoExt">
        update rank_info_ext
        <trim prefix="set" suffixOverrides=",">
            <if test="weight != null"> weight = #{weight},</if>
            <if test="teleplayId != null"> teleplay_id = #{teleplayId},</if>
            <if test="rankInfoId != null"> rank_info_id = #{rankInfoId},</if>
            <if test="status != null"> status = #{status},</if>
            <if test="operator != null"> operator = #{operator},</if>
            <if test="operatorName != null"> operator_name = #{operatorName},</if>
            <if test="extInfo != null"> ext_info = #{extInfo},</if>
            <if test="operateTime != null"> operate_time = #{operateTime},</if>
            <if test="createTime != null"> create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <insert id="saveRankInfoExt" parameterType="com.demai.cornel.model.RankInfoExt" useGeneratedKeys="true" keyProperty="id" >
        insert into rank_info_ext(
        <trim suffixOverrides=",">
            <if test="weight != null"> weight ,</if>
            <if test="teleplayId != null"> teleplay_id ,</if>
            <if test="rankInfoId != null"> rank_info_id ,</if>
            <if test="status != null"> status ,</if>
            <if test="operator != null"> operator ,</if>
            <if test="operatorName != null"> operator_name ,</if>
            <if test="extInfo != null"> ext_info ,</if>
            <if test="operateTime != null"> operate_time ,</if>
            <if test="createTime != null"> create_time ,</if>
        </trim>
        )values(
        <trim suffixOverrides=",">
            <if test="weight != null"> #{weight} ,</if>
            <if test="teleplayId != null"> #{teleplayId} ,</if>
            <if test="rankInfoId != null"> #{rankInfoId} ,</if>
            <if test="status != null"> #{status} ,</if>
            <if test="operator != null"> #{operator} ,</if>
            <if test="operatorName != null"> #{operatorName} ,</if>
            <if test="extInfo != null"> #{extInfo} ,</if>
            <if test="operateTime != null"> #{operateTime} ,</if>
            <if test="createTime != null"> #{createTime} ,</if>
        </trim>
        )
    </insert>

    <select id="getRankInfoExtList" parameterType="long" resultType="com.demai.cornel.model.RankInfoExt">
        select
            e.id,
            e.rank_info_id as rankInfoId,
            t.title as teleplayName
        from rank_info_ext e,teleplay t
        where e.rank_info_id=#{rankInfoId}
        and e.status=1
        and t.status=1
        and e.teleplay_id=t.id
        order by e.weight desc
    </select>

    <select id="getRankInfoListForUser" resultMap="rankInfoResultMap">
        select
        <include refid="main_column"/>
        from rank_info
        where status=1
        order by type asc, weight desc
    </select>

    <select id="getRankInfoExtInfo" resultType="com.demai.cornel.model.RankInfoExt">
        select
                e.id,
                e.rank_info_id as rankInfoId,
                t.title as teleplayName,
                t.main_image as mainImage,
                t.main_source as mainSource,
                t.id as teleplayId
        from rank_info_ext e,teleplay t
        where e.rank_info_id=#{rankInfoId}
          and e.status=1
          and t.status=1
          and e.teleplay_id=t.id
        order by e.weight desc
        offset #{offSet,jdbcType=INTEGER} limit #{pageSize,jdbcType=INTEGER} ;
    </select>
    
</mapper>