<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demai.cornel.dao.TeleplayDao">
    <resultMap type="com.demai.cornel.model.Teleplay" id="teleplayResultMap">
        <id column="id" property="id"/>
        <result column="main_image" property="mainImage"/>
        <result column="main_source" property="mainSource"/>
        <result column="title" property="title"/>
        <result column="depict" property="depict"/>
        <result column="nums" property="nums"/>
        <result column="channel" property="channel" typeHandler="com.demai.cornel.databaseHandler.ArrayStringListTypeHandler"/>
        <result column="vip" property="vip"/>
        <result column="status" property="status"/>
        <result column="operate_time" property="operateTime"/>
        <result column="operator_name" property="operatorName"/>
        <result column="operator" property="operator"/>
        <result column="follow_num" property="followNum"/>
        <result column="play_num" property="playNum"/>
        <result column="like_num" property="likeNum"/>
        <result column="share_num" property="shareNum"/>
        <result column="comment_num" property="commentNum"/>
        <result column="recommend" property="recommend"/>
        <result column="top" property="top"/>
        <result column="ext_info" property="extInfo"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="main_column">
        id,
        main_image,
        main_source,
        channel,
        title,
        depict,
        nums,
        vip,
        status,
        operate_time,
        operator_name,
        operator,
        recommend,
        top,
        ext_info,
        create_time
    </sql>

    <sql id="query_list_column">
        t.id,
        t.main_image,
        t.main_source,
        t.channel,
        t.title,
        t.depict,
        t.nums,
        t.vip,
        t.status,
        t.operate_time,
        t.operator_name,
        t.operator,
        t.recommend,
        t.top,
        t.ext_info,
        t.create_time,
        coalesce(fd.all_follow_num,0) as follow_num,
        coalesce(fd.all_play_num,0) as play_num,
        coalesce(fd.all_like_num,0) as like_num,
        coalesce(fd.all_share_num,0) as share_num,
        coalesce(fd.all_comment_num,0) as comment_num
    </sql>

    <update id="update" parameterType="com.demai.cornel.model.Teleplay">
        update teleplay
        <trim prefix="set" suffixOverrides=",">
            <if test="mainImage != null">
                main_image = #{mainImage},
            </if>
            <if test="mainSource != null">
                main_source = #{mainSource},
            </if>
            <if test="channel != null">
                channel = #{channel,jdbcType=ARRAY,javaType=java.util.List,typeHandler=com.demai.cornel.databaseHandler.ArrayStringListTypeHandler},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="depict != null">
                depict = #{depict},
            </if>
            <if test="nums != null">
                nums = #{nums},
            </if>
            <if test="vip != null">
                vip = #{vip},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="operateTime != null">
                operate_time = #{operateTime},
            </if>
            <if test="operator != null">
                operator = #{operator},
            </if>
            <if test="operatorName != null">
                operator_name = #{operatorName},
            </if>
            <if test="recommend != null">
                recommend = #{recommend},
            </if>
            <if test="top != null">
                top = #{top},
            </if>
            <if test="extInfo != null">
                ext_info = #{extInfo},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <insert id="save" parameterType="com.demai.cornel.model.Teleplay" useGeneratedKeys="true" keyProperty="id">
        insert into teleplay(
        <trim suffixOverrides=",">
            <if test="mainImage != null">
                main_image ,
            </if>
            <if test="mainSource != null">
                main_source,
            </if>
            <if test="channel != null">
                channel,
            </if>
            <if test="title != null">
                title ,
            </if>
            <if test="depict != null">
                depict ,
            </if>
            <if test="nums != null">
                nums ,
            </if>
            <if test="vip != null">
                vip ,
            </if>
            <if test="status != null">
                status ,
            </if>
            <if test="operateTime != null">
                operate_time ,
            </if>
            <if test="operator != null">
                operator ,
            </if>
            <if test="operatorName != null">
                operator_name ,
            </if>
            <if test="recommend != null">
                recommend ,
            </if>
            <if test="top != null">
                top ,
            </if>
            <if test="extInfo != null">
                ext_info ,
            </if>
            <if test="createTime != null">
                create_time ,
            </if>
        </trim>
        )values(
        <trim suffixOverrides=",">
            <if test="mainImage != null">
                #{mainImage} ,
            </if>
            <if test="mainSource != null">
                #{mainSource} ,
            </if>
            <if test="channel != null">
                #{channel,jdbcType=ARRAY,javaType=java.util.List,typeHandler=com.demai.cornel.databaseHandler.ArrayStringListTypeHandler},
            </if>
            <if test="title != null">
                #{title} ,
            </if>
            <if test="depict != null">
                #{depict} ,
            </if>
            <if test="nums != null">
                #{nums} ,
            </if>
            <if test="vip != null">
                #{vip} ,
            </if>
            <if test="status != null">
                #{status} ,
            </if>
            <if test="operateTime != null">
                #{operateTime} ,
            </if>
            <if test="operator != null">
                #{operator} ,
            </if>
            <if test="operatorName != null">
                #{operatorName},
            </if>
            <if test="recommend != null">
                #{recommend} ,
            </if>
            <if test="top != null">
                #{top} ,
            </if>
            <if test="extInfo != null">
                #{extInfo} ,
            </if>
            <if test="createTime != null">
                #{createTime} ,
            </if>
        </trim>
        )
    </insert>

    <select id="queryTeleplayList" parameterType="com.demai.cornel.reqParam.QueryTeleplayParam"
            resultMap="teleplayResultMap">
        select
        <include refid="query_list_column"/>
        from teleplay t left join
        (
            select
                teleplay_id,
                sum(all_follow_num) as all_follow_num,
                sum(all_play_num) as all_play_num,
                sum(all_like_num) as all_like_num,
                sum(all_share_num) as all_share_num,
                sum(all_comment_num) as all_comment_num
            from (
            select
                teleplay_id,
                video_id,
                max(all_follow_num) as all_follow_num,
                max(all_play_num) as all_play_num,
                max(all_like_num) as all_like_num,
                max(all_share_num) as all_share_num,
                max(all_comment_num) as all_comment_num
            from teleplay_video_browse_data group by teleplay_id,video_id) t group by teleplay_id
        )fd
        on t.id=fd.teleplay_id
        <where>
            1=1
            <if test="id != null">
               and t.id=#{id}
            </if>
            <if test="title !=null">
                and t.title ~ #{title}
            </if>
            
            <if test="status !=null">
                and t.status = #{status}
            </if>
            
            <if test="channel !=null">
                and <![CDATA[ t.channel @> array[#{channel}] ]]>
            </if>

            <if test="vip !=null">
                t.vip =  #{vip}
            </if>

        </where>
        order by t.operate_time desc offset #{offSet,jdbcType=INTEGER} limit #{pageSize,jdbcType=INTEGER} ;
    </select>


    <select id="queryTeleplayAllNum" parameterType="com.demai.cornel.reqParam.QueryTeleplayParam"
            resultType="int">
        select
         count(1)
        from teleplay 
        <where>
            1=1
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="title !=null">
                and title ~ #{title}
            </if>

            <if test="status !=null">
                and status = #{status}
            </if>

            <if test="channel !=null">
                and <![CDATA[ channel @> array[#{channel}] ]]>
            </if>

            <if test="vip !=null">
                vip =  #{vip}
            </if>
        </where>
    </select>

    <select id="suggestTeleplay" parameterType="com.demai.cornel.reqParam.QueryChannelParam"
            resultMap="teleplayResultMap">
        select
        <include refid="main_column"/>
        from teleplay
        where status = 1
        and title ~ #{name}
    </select>

    <select id="queryTeleplayListByIds" parameterType="list" resultMap="teleplayResultMap">
        select
        <include refid="main_column"/>
        from teleplay
        where status = 1
        and id in
        <foreach collection="teleplayIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryTeleplayListByChannelId" parameterType="com.demai.cornel.reqParam.UserQueryTeleplayParam"
            resultMap="teleplayResultMap">
        select
        id,
        main_image,
        main_source,
        channel,
        title,
        depict
        from teleplay
        where status=1
        <if test="channel !=null">
            and <![CDATA[ channel @> array[#{channel}] ]]>
        </if>
        order by recommend desc offset #{offSet,jdbcType=INTEGER} limit #{pageSize,jdbcType=INTEGER} ;
    </select>

    <select id="getTeleplayAllNumByChannelId" parameterType="com.demai.cornel.reqParam.UserQueryTeleplayParam"
            resultType="integer">
        select
        count(1)
        from teleplay
        where status=1
        <if test="channel !=null">
            and <![CDATA[ channel @> array[#{channel}] ]]>
        </if>
    </select>
    
</mapper>