<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demai.cornel.dao.TeleplayDao">
    <resultMap type="com.demai.cornel.model.Teleplay" id="teleplayResultMap">
        <id column="id" property="id"/>
        <result column="main_image" property="mainImage"/>
        <result column="main_source" property="mainSource"/>
        <result column="title" property="title"/>
        <result column="depict" property="depict"/>
        <result column="nums" property="nums"/>
        <result column="channel" property="channel" typeHandler="com.demai.cornel.databaseHandler.ArrayTypeHandler"/>
        <result column="vip" property="vip"/>
        <result column="status" property="status"/>
        <result column="operate_time" property="operateTime"/>
        <result column="operator" property="operator"/>
        <result column="follow_num" property="followNum"/>
        <result column="play_num" property="playNum"/>
        <result column="like_num" property="likeNum"/>
        <result column="share_num" property="shareNum"/>
        <result column="comment_num" property="commentNum"/>
        <result column="recommend" property="recommend"/>
        <result column="top" property="top"/>
        <result column="ext_info" property="extInfo"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="main_column">
        id,
        main_image,
        main_source,
        channel,
        title,
        depict,
        nums,
        vip,
        status,
        operate_time,
        operator,
        follow_num,
        play_num,
        like_num,
        share_num,
        comment_num,
        recommend,
        top,
        ext_info,
        create_time
    </sql>

    <update id="update" parameterType="com.demai.cornel.model.Teleplay">
        update teleplay
        <trim prefix="set" suffixOverrides=",">
            <if test="mainImage != null">
                main_image = #{mainImage},
            </if>
            <if test="mainSource != null">
                main_source = #{mainSource},
            </if>
            <if test="channel != null">
                channel = #{channel,jdbcType=ARRAY,javaType=java.util.List,typeHandler=com.demai.cornel.databaseHandler.ArrayTypeHandler},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="depict != null">
                depict = #{depict},
            </if>
            <if test="nums != null">
                nums = #{nums},
            </if>
            <if test="vip != null">
                vip = #{vip},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="operateTime != null">
                operate_time = #{operateTime},
            </if>
            <if test="operator != null">
                operator = #{operator},
            </if>
            <if test="followNum != null">
                follow_num = #{followNum},
            </if>
            <if test="playNum != null">
                play_num = #{playNum},
            </if>
            <if test="likeNum != null">
                like_num = #{likeNum},
            </if>
            <if test="shareNum != null">
                share_num = #{shareNum},
            </if>
            <if test="commentNum != null">
                comment_num = #{commentNum},
            </if>
            <if test="recommend != null">
                recommend = #{recommend},
            </if>
            <if test="top != null">
                top = #{top},
            </if>
            <if test="extInfo != null">
                ext_info = #{extInfo},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <insert id="save" parameterType="com.demai.cornel.model.Teleplay" useGeneratedKeys="true" keyProperty="id">
        insert into teleplay(
        <trim suffixOverrides=",">
            <if test="mainImage != null">
                main_image ,
            </if>
            <if test="mainSource != null">
                main_source,
            </if>
            <if test="channel != null">
                channel,
            </if>
            <if test="title != null">
                title ,
            </if>
            <if test="depict != null">
                depict ,
            </if>
            <if test="nums != null">
                nums ,
            </if>
            <if test="vip != null">
                vip ,
            </if>
            <if test="status != null">
                status ,
            </if>
            <if test="operateTime != null">
                operate_time ,
            </if>
            <if test="operator != null">
                operator ,
            </if>
            <if test="followNum != null">
                follow_num ,
            </if>
            <if test="playNum != null">
                play_num ,
            </if>
            <if test="likeNum != null">
                like_num ,
            </if>
            <if test="shareNum != null">
                share_num ,
            </if>
            <if test="commentNum != null">
                comment_num ,
            </if>
            <if test="recommend != null">
                recommend ,
            </if>
            <if test="top != null">
                top ,
            </if>
            <if test="extInfo != null">
                ext_info ,
            </if>
            <if test="createTime != null">
                create_time ,
            </if>
        </trim>
        )values(
        <trim suffixOverrides=",">
            <if test="mainImage != null">
                #{mainImage} ,
            </if>
            <if test="mainSource != null">
                #{mainSource} ,
            </if>
            <if test="channel != null">
                #{channel,jdbcType=ARRAY,javaType=java.util.List,typeHandler=com.demai.cornel.databaseHandler.ArrayTypeHandler},
            </if>
            <if test="title != null">
                #{title} ,
            </if>
            <if test="depict != null">
                #{depict} ,
            </if>
            <if test="nums != null">
                #{nums} ,
            </if>
            <if test="vip != null">
                #{vip} ,
            </if>
            <if test="status != null">
                #{status} ,
            </if>
            <if test="operateTime != null">
                #{operateTime} ,
            </if>
            <if test="operator != null">
                #{operator} ,
            </if>
            <if test="followNum != null">
                #{followNum} ,
            </if>
            <if test="playNum != null">
                #{playNum} ,
            </if>
            <if test="likeNum != null">
                #{likeNum} ,
            </if>
            <if test="shareNum != null">
                #{shareNum} ,
            </if>
            <if test="commentNum != null">
                #{commentNum} ,
            </if>
            <if test="recommend != null">
                #{recommend} ,
            </if>
            <if test="top != null">
                #{top} ,
            </if>
            <if test="extInfo != null">
                #{extInfo} ,
            </if>
            <if test="createTime != null">
                #{createTime} ,
            </if>
        </trim>
        )
    </insert>

    <select id="queryTeleplayList" parameterType="com.demai.cornel.reqParam.QueryTeleplayParam"
            resultMap="teleplayResultMap">
        select
        <include refid="main_column"/>
        from teleplay
        <where>
            1=1
            <if test="id != null">
               and id=#{id}
            </if>
            <if test="title !=null">
                and title ~ #{title}
            </if>
            
            <if test="status !=null">
                and status = #{status}
            </if>
            
            <if test="channel !=null">
                and <![CDATA[ channel @> array[#{channel}] ]]>
            </if>

            <if test="vip !=null">
                vip =  #{vip}
            </if>

        </where>
        order by operate_time desc offset #{offSet,jdbcType=INTEGER} limit #{pageSize,jdbcType=INTEGER} ;
    </select>
    
</mapper>